In [1]:
from collections import namedtuple

1. Download Url
2. Dowload folder (compressed File)
3. Extract folder (Extracted file)
4. Train dataset folder
5. Test dataset folder

In [13]:
DataIngestionConfig= namedtuple("DataIngestionConfig",
["dataset_download_url","tgz_download_dir","raw_data_dir","ingested_train_dir","ingested_test_dir"])

In [2]:
import yaml

In [1]:
import os, sys

In [3]:
os.getcwd()

'd:\\PYTHON_ML_PROJECT\\1st\\Machine-learining-\\Notebook'

In [4]:
os.listdir(".")

['example.ipynb']

In [6]:
#Dynamic way to create file path
config_file_path= os.path.join("config","Config.yaml")

In [12]:
config_file_path

'config\\Config.yaml'

In [13]:
#to check whether file path exists or not
os.path.exists(config_file_path)

True

In [11]:
os.getcwd()

'd:\\PYTHON_ML_PROJECT\\1st\\Machine-learining-'

In [47]:
#TO change directory
os.chdir("d:\\PYTHON_ML_PROJECT\\1st\\Machine-learining-")

In [50]:
os.getcwd()

'd:\\PYTHON_ML_PROJECT\\1st\\Machine-learining-'

In [62]:
#To  open and load config folder and file and read its content
config_info=None
with open (config_file_path,"rb") as yaml_file:
    config_info=yaml.safe_load(yaml_file)

In [43]:
def read_yaml_file(file_path:str) ->dict:
    """
    read a YAML file and return the contents as a dictionary.
    file_path:str
    """
    try:
        with open(file_path,'rb')as yaml_file:
            return yaml.safe_load(yaml_file)

    except Exception as e:
        raise e

In [39]:
read_yaml_file(config_file_path)

{'training_pipeline_config': {'pipeline_name': 'housing',
  'artifact_dir': 'artifact'},
 'data_ingestion_config': {'dataset_download_url': 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz',
  'raw_data_dir': 'raw_data',
  'tgz_download_dir': 'tgz_data',
  'ingested_dir': 'ingested_data',
  'ingested_train_dir': 'train',
  'ingested_test_dir': 'test'},
 'data_validation_config': {'schema_dir': 'config',
  'schema_file_name': 'schema.yaml',
  'report_file_name': 'report.json',
  'report_page_file_name': 'report.html'},
 'data_transformation_config': {'add_bedroom_per_room': True,
  'transformed_dir': 'transformed_data',
  'transformed_train_dir': 'train',
  'transformed_test_dir': 'test',
  'preprocessing_dir': 'preprocessed',
  'preprocessed_object_file_name': 'preprocessed.pkl'},
 'model_trainer_config': {'trained_model_dir': 'trained_model',
  'model_file_name': 'model.pkl',
  'base_accuracy': 0.6,
  'model_config_dir': 'config',
  'model_config_file_name': 'model.yaml'},
 'model_evaluation_config': {'model_evaluation_file_name': 'model_evaluation.yaml'},
 'model_pusher_config': {'model_export_dir': 'saved_models'}}

In [5]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [6]:
path= r"D:\PYTHON_ML_PROJECT\1st\Machine-learining-\housing\artifact\data_ingestion\2022-11-04-11-03-51\ingested_data\train\housing.csv"

In [7]:
train_dataset=pd.read_csv(path)
train_dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.59,39.79,20.0,743.0,171.0,395.0,168.0,1.6250,88300.0,INLAND
1,-123.10,38.79,20.0,3109.0,712.0,1643.0,638.0,2.8344,164400.0,<1H OCEAN
2,-118.36,33.95,26.0,3231.0,1089.0,3193.0,1020.0,2.6535,177200.0,<1H OCEAN
3,-122.04,37.04,17.0,4977.0,994.0,1987.0,947.0,3.8854,312300.0,NEAR OCEAN
4,-118.45,34.03,41.0,1240.0,320.0,711.0,304.0,3.3482,318100.0,<1H OCEAN

In [8]:
train_dataset.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,16512.000000,16512.000000,16512.000000,16512.000000,16344.000000,16512.000000,16512.000000,16512.000000,16512.000000
mean,-119.569152,35.627116,28.555475,2642.323038,539.533590,1428.202641,500.609557,3.871069,207139.708636
std,2.002963,2.135736,12.563581,2171.999033,420.989788,1134.137862,380.829146,1.895223,115582.520021
min,-124.350000,32.540000,1.000000,2.000000,1.000000,5.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1453.000000,297.000000,791.000000,281.000000,2.563400,119400.000000
50%,-118.500000,34.250000,29.000000,2134.000000,437.000000,1171.000000,411.000000,3.529350,180000.000000
75%,-118.010000,37.710000,37.000000,3165.000000,649.000000,1726.000000,607.000000,4.754400,265525.000000
max,-114.470000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000